<h1>Home page</h1>
<hr />
<% if (user) { %>
<h3>Hi <%= user.name %></h3>
<button>
  <a href="/user/logout">Logout</a>
</button>
<% } else { %>
<h3>Hi Guest</h3>
<% } %>
<hr />
<h3>Login/SignUp</h3>
<button>
  <a href="/user/sign-in">Login</a>
</button>
<button>
  <a href="/user/sign-up">SignUp</a>
</button>
<br />

<!-- Path: views\student-page.ejs -->
<button>
  <a href="/user/student-page">Student page</a>
</button>

<!-- Path: views\student-list.ejs -->
<button>
  <a href="/student/students_lists">Student page</a>
</button>
